@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ulica, numer/mieszkanie<br />
    Miasto, Kraj<br />
    <abbr title="Phone">Telefon: *** *** ***</abbr>
</address>

<address>
    <strong>Administrator:</strong>   <a href="mailto:mail@mail.com">mail@mail.com</a><br />
</address>