@{
    ViewBag.Title = "Home Page";
}

<html>
    <head>
        <style>
            img {
                filter: brightness(120%);
                max-width: 70%;
                height: auto;
            }
        </style>
    </head>

    <body>
        <!--div class="jumbotron">
        </div-->

        <div class="row" style="text-align:center">
            <br>
            <img src="~/img/sea.jpg" alt="sea">
        </div>
    </body>
</html>

