@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Brak dostępu!";
}

<hgroup>
    <h1 class="text-danger">Nie posiadasz dostępu do tej części aplikacji.</h1>
    <h2 class="text-danger">Aby uzyskać wyższe uprawnienia zgłoś się do administratora.</h2>
</hgroup>
